<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a routerLink="/archives/1" routerLinkActive="active">Archives</a>
                    </li>
                    <li>
                        <a routerLink="/tags" routerLinkActive="active">Tags</a>
                    </li>
                    <li>
                        <a routerLink="/projects/1" routerLinkActive="active">Projects</a>
                    </li>
                    <li>
                        <a routerLink="/about" routerLinkActive="active">About</a>
                    </li>
                    <li>
                        <a routerLink="/admin/" routerLinkActive="active">Admin</a>
                    </li>
                </ul>
                <p class="copyright text-muted small"></p>
            </div>
        </div>
    </div>
</footer>